@model shanuMVCUserRoles.Models.Appointment
@{
    ViewBag.Title = "Nowa wizyta";
}
<h2>Podsumowanie wizyty</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.Name)
            @Html.DisplayFor(model => model.Doctor.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
            @Html.DisplayFor(model => model.Patient.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Twoje wizyty", "Index", "Manage", new { id = ViewBag.PatientID }, null) |
        @Html.ActionLink("Powrót", "Index")
    </p>
</div>
