@model List<shanuMVCUserRoles.Models.ApplicationUser> 
@{
    ViewBag.Title = "Lista użytkowników";
}

<h2>Lista użytkowników</h2>
@using (Html.BeginForm("List", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<table class="table table-hover">
    <tr>
        <th>
            Rola
        </th>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            PESEL
        </th>
        <th>
            Specializacja
        </th>
        <th>
            Zatwierdzony?
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model.Where(m => m.PESEL != null).OrderBy(m => m.isValid))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
             @Html.CheckBoxFor(modelItem => item.isValid)
            </td>
            <td>
                @Html.ActionLink("Edycja", "Edit", new { id = item.Id}) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
}



